<header>
  <!-- logo -->
  <div class="imagen-logo"></div>
  <!-- <img id="logoEcommerce" src="/assets/MiEcommerce.svg" alt="logo" /> -->
  <!-- search bar -->
  <form class="search" action="#">
    <input type="text" placeholder="Buscar productos..." name="search" />
    <button type="button" class="magnifying">
      <i class="fas fa-search"></i>
    </button>
  </form>
  <!-- cart button -->
  <button type="button" class="cartButton">
    <i class="fas fa-shopping-cart"></i>
  </button>
  <!-- dropdown menu -->
  <div class="dropdown-content">
    <img class="picdpn" src="/assets/ProfilePic.png" alt="Olivia" />
    <p class="textdpn">Olivia</p>
    <a href="">Inicio</a>
    <a href="">Mis compras</a>
    <a href="">Favoritos</a>
    <a href="">Historial</a>
    <p class="theme">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
        <path
          d="M32 256c0-123.8 100.3-224 223.8-224c11.36 0 29.7 1.668 40.9 3.746c9.616 1.777 11.75 14.63 3.279 19.44C245 86.5 211.2 144.6 211.2 207.8c0 109.7 99.71 193 208.3 172.3c9.561-1.805 16.28 9.324 10.11 16.95C387.9 448.6 324.8 480 255.8 480C132.1 480 32 379.6 32 256z"
        /></svg
      >Cambiar Tema Oscuro
    </p>
    <!--<div class="Tema">lala</div>-->
  </div>
  <!-- button olivia -->
  <div class="dropdown">
    <button type="button" class="dropdownbtn">
      <div class="buttonElements">
        <div>
          <img class="profilePic" src="/assets/ProfilePic.png" alt="Olivia" />
        </div>
        <div class="alignname"><p>Olivia</p></div>
      </div>
    </button>
  </div>
  <script src="/js/header.js"></script>
</header>
