<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/4070a3aa63.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/header.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/footer-abajo.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/provisional.css" />
    <link rel="stylesheet" href="/css/pageNotFound.css" />
    <title>Página no encontrada</title>
  </head>
  <body>
    <%- include("../partials/header")%>
    <main>
      <h1 class="titulo-main">¡Vaya!</h1>
      <h2 class="subitulo">Error 404: página no encontrada</h2>
      <img src="/assets/404-error-not-found.png" class="img-error" alt="" />
      <div class="links-container">
        <a class="button" href="/">Home</a
        ><a class="button" href="/api/product/suggested">Products</a>
      </div>
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
